body, html {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}

.header li {
    cursor: pointer;
}

.header .get-in-touch-button, .get-in-touch-button-mobile {
    border: 1px solid #0071CE;
    background-color: #0071CE;
    color: white;
    align-content: center;
    text-align: center;
    width: 130px;
    height: 60px;
    transition: all .3s ease-in-out;
}

.get-in-touch-button-mobile {
    cursor: pointer;
    display: none;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

.header .get-in-touch-button, .get-in-touch-button-mobile {
    text-decoration: none;
    color: white;
}

.header .get-in-touch-button:hover, .get-in-touch-button-mobile:hover {
    background-color: white;
    color: #0071CE;
}

.header .logo-container {
    display: flex;
    align-items: center;
    width: 30%;
}

.header .logo-container .logo {
    min-width: 150px;
    max-width: 175px;
}

.header .menu {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    max-width: 700px;
}

.header .menu li {
    list-style: none;
    justify-content: space-evenly;
    font-size: 19px;
}

.header .menu li a {
    text-decoration: none;
}

.header .menu li a.text-link {
    color: #0071CE;
}

.header .menu li a.text-link:hover {
    text-decoration: underline;
}

.splash {
    background-color: rgba(0, 113, 206, 0.15);
    width: 100%;
    margin-top: 150px;
    height: 500px;
}

.splash .splash-container {
    max-width: 1400px;
    margin: 0 auto;
}

.splash .splash-content {
    width: 50%;
    padding: 20px 0 0 60px;
}

.splash .splash-image {
    width: 50%;
    display: flex;
}

.splash .splash-image img {
    max-width: 300px;
    margin: -60px auto;
}

.splash .splash-content h1 {
    font-size: 46px;
}

.splash .splash-content h4 {
    font-size: 22px;
}

.splash .splash-content p {
    font-size: 20px;
}

.splash .splash-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.splash .splash-container .splash-content-mobile {
    display: none;
}

.splash .splash-container .download {
    margin-top: 60px;
}

.splash .splash-container .app-store {
    width: 176px;
}

.splash .splash-container .play-store {
    width: 200px;
}

.features {
    width: 100%;
    margin-top: 150px;
}

.features-container {
    max-width: 1400px;
    margin: 0 auto;
}

.features-container h2 {
    padding-left: 70px;
    color: #0071CE;
    font-size: 30px;
}

.features-container ul {
    padding-left: 70px;
    font-size: 28px;
    line-height: 50px;
}

.features-container ul li {
    margin: 14px 0;
}

.team {
    width: 100%;
    margin-top: 150px;
}

.team .team-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.team .team-container .team-member {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    text-align: center;
}

.team .team-container .team-member img {
    width: 250px;
}

.team .team-container .team-member {
    font-size: 20px;
}

.team .team-container .team-member h3 {
    font-size: 24px;
    color: #0071CE;
}

.privacy {
    width: 100%;
    margin: 130px 0;
}

.privacy .privacy-container {
    padding-left: 70px;
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    font-size: 28px;
    margin: 0 auto;
}

.get-in-touch {
    width: 100%;
    margin: 130px 0;
    height: 400px;
}

.get-in-touch .get-in-touch-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.get-in-touch .get-in-touch-container form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.get-in-touch .get-in-touch-container form input, textarea {
    font-size: 20px;
    padding: 10px;
}

.get-in-touch .get-in-touch-container form textarea {
    min-height: 200px;
    font-family: sans-serif;
}

.get-in-touch .get-in-touch-container form .get-in-touch-contact-info {
    display: flex;
    gap: 5px;
}

.get-in-touch .get-in-touch-container form .get-in-touch-contact-info input {
    width: 50%;
}

.get-in-touch .get-in-touch-container form button {
    cursor: pointer;
    border: 1px solid #0071CE;
    background-color: #0071CE;
    color: white;
    align-content: center;
    text-align: center;
    font-size: 20px;
    height: 60px;
    transition: all .3s ease-in-out;
}

.get-in-touch .get-in-touch-container form button:hover {
    background-color: white;
    color: #0071CE;
}

/* tablet */
@media (max-width: 1024px) {
    .get-in-touch-button-mobile {
        display: block;
    }

    .header {
        padding-left: 40px;
    }

    .header .menu {
        display: none;
    }

    .header .logo-container {
        width: 100%;
        max-width: none;
    }

    .splash {
        background-color: white;
        height: auto;
    }

    .splash .splash-container {
        flex-direction: column;
        margin: 0 auto;
    }

    .splash .splash-content {
        display: none;
    }

    .splash .splash-container .splash-content-mobile {
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        text-align: center;
    }

    .splash .splash-container .splash-content-mobile h1 {
        color: #0071CE;
    }

    .splash .splash-container .splash-content-mobile p {
        max-width: 450px;
        margin: 0 auto;
    }

    .splash .splash-container .splash-content-mobile .download {
        text-align: center;
    }

    .splash .splash-image {
        width: 100%;
    }

    .about .about-container .team-member img {
        width: 200px;
    }

    .features-container h2 {
        padding: 0;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .features {
        margin-top: 120px;
    }

    .features-container ul {
        font-size: 21px;
        line-height: 30px;
        padding: 10px;
    }

    .team {
        margin-top: 110px;
    }

    .team .team-container {
        flex-direction: column;
    }

    .team .team-container .team-member {
        width: 100%;
        align-items: initial;
        flex-direction: row;
        margin: 10px 0;
        text-align: left;
        gap: 10px;
    }

    .team .team-container .team-member img {
        min-width: 200px;
        width: 200px;
        padding-left: 25px;
    }


    .privacy {
        margin: 40px 0;
    }

    .privacy .privacy-container {
        font-size: 26px;
        padding: 10px;
    }

    .get-in-touch {
        margin: 0;
    }
}